@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-mint-600: #059669;
  --color-mint-500: #10b981;
  --color-mint-400: #34d399;
  --color-mint-300: #6ee7b7;

  --font-heading: 'Instrument Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}
